<div>
  <p><a href="/"><span class="icon icon-tesla"></span>Tesla</a></p>
</div>
<div>
  <ul>
    <li><a href="/vehicles">Vehicles</a></li>
    <li><a href="/energy">Energy</a></li>
    <li><a href="/charging">Charging</a></li>
    <li><a href="/discover">Discover</a></li>
    <li><a href="https://shop.tesla.com">Shop</a></li>
  </ul>
</div>
<div>
  <p><a href="/tools/widgets/scheme"><span class="icon icon-toggle"></span>Color Scheme</a></p>
  <p><a href="/tools/widgets/language"><span class="icon icon-globe"></span>Language</a></p>
  <p><a href="/tools/widgets/toggle"><span class="icon icon-more"></span>Menu</a></p>
</div>
